@{
    ViewData["Title"] = "Get to Know Joel";
}
<div>
    <h1>Related Links</h1>
    <ul>
        <li>
            <h3>
                <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
            </h3>
        </li>
        <li>
            <h3>
                <a href="https://baconsale.com/">Baconsale</a>
            </h3>
        </li>
        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" />
        </a>

    </ul>
</div>